@use "global" as *;


.contact-form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(32);
  
  @include mq(md) {
    flex-direction: row;
    gap: rem(38);
    margin-top: rem(40);
  }
}


.contact-form__content.contact-form__content--header {
  row-gap: rem(20);
  margin-top: 0;
}


.contact-form__content--top {
  margin-top: rem(60);
  
  @include mq(md) {
    margin-top: rem(80);
  }
}


.contact-form__content--textarea {
  align-items: flex-start;
  height: 100%;
}


.contact-form__content--address {
  align-items: flex-start;
}


.contact-form__title {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: rem(16);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.0;

  @include mq(md) {
    width: calc(200 / 938 * 100%);
  }
} 


.contact-form__content--address .contact-form__title {
  
  @include mq(md) {
    margin-top: rem(18);
  }
}


.contact-form__content--textarea .contact-form__title {

  @include mq(md) {
    margin-top: rem(18);
  }
}


.contact-form__text {
  width: 100%;
  background-color: #E4E4E4;
  padding: rem(8);
  
  @include mq(md) {
    padding: rem(16);
  }
} 


.contact-form__content--header .contact-form__text {
  font-size: rem(16);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.0;
  width: 100%;
  background-color: unset;
  padding: 0;

  @include mq(md) {
    width: calc(700 / 938 * 100%);
  }
}


.contact-form__required {
  color: #3B8049;
  font-size: rem(8);
  font-weight: $Bold;
  line-height: 1.0;
  letter-spacing: 0.01em; 
  margin-left: rem(2);
}


.contact-form__content .wpcf7-form-control-wrap {
  display: flex;
  width: 100%;
  margin-top: rem(16);
  
  @include mq(md) {
    width: calc(700 / 938 * 100%);
    margin-top: 0;
  }
}


.contact-form__content.contact-form__content--address .wpcf7-form-control-wrap {
  width: 100%;
}


.contact-form__button {
  text-align: center;
  margin-top: rem(80);
  
  @include mq(md) {
    margin-top: rem(100);
  }
}


.contact-form__textarea {
  width: 100%;
  height: rem(266);
  background-color: #E4E4E4;
  padding: rem(8) rem(16) rem(8) rem(16);
}


.contact-form__block {
  display: flex;
  flex-direction: column;
  // gap: rem(12);
  width: 100%;
  
  @include mq(md) {
    gap: rem(20);
    width: calc(700 / 938 * 100%);
  }
}


.contact-form__content--address .contact-form__block span:first-of-type {
  display: block;
  width: calc(300 / 700 * 100%);
}



