@use "global" as *;


.definition-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(2);
  padding: rem(20) 0; 
  border-bottom: dashed 1px rgba(143, 143, 143, 0.76);
}


.definition-item--license {
  padding-top: rem(20);
  padding-bottom: rem(20);
  
  @include mq(md) {
    padding-top: rem(66);
    padding-bottom: rem(46);
  }
}


.definition-item__name {
  color: $black;
  font-size: rem(12);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.8;
  letter-spacing: 0.1em;
  width: 26%;
  // padding-left: rem(20);
  
  @include mq(md) {
    font-size: rem(18);
    width: 24%;
    padding-left: rem(40);
  }
}


.definition-item__text {
  color: $black;
  font-size: rem(12);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.8;
  letter-spacing: 0.1em;
  width: 74%;
  
  @include mq(md) {
    font-size: rem(18);
    width: 76%;
  }
}


.definition-item--recruit {
  background: linear-gradient(to right, #EFEFEF 26%, transparent 26%);
  border: 1px solid #E0E0E0;
  border-bottom: none;
  border-left: none;
  
  @include mq(md) {
    background: linear-gradient(to right, #EFEFEF 16.7%, transparent 16.7%);
  }
}


.definition-item--recruit:last-of-type {
  border-bottom: 1px solid #E0E0E0;  
}



.definition-item--recruit .definition-item__name {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $SemiBold;
  color: $black;
  line-height: 1.5;
  letter-spacing: 0.12em;
  text-align: center;
  width: 26%;
  padding-left: 0;
  
  @include mq(md) {
    font-size: rem(16);
    width: 16.7%;
  }
}


.definition-item--recruit .definition-item__text {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $SemiBold;
  color: $black;
  line-height: 1.5;
  letter-spacing: 0.12em;
  width: 74%;
  padding-left: rem(10);
  padding-right: rem(10);
  
  @include mq(md) {
    font-size: rem(16);
    width: 83.3%;
    padding-left: rem(78);
  }
}