@use "global" as *;


.footer__copyright { 
  text-align: center;
  font-size: rem(10);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.0;
  letter-spacing: 0.1em;
  padding-top: rem(16);
  padding-bottom: rem(24);
  
  @include mq(md) {
    font-size: rem(14);
  }
}
