@use "global" as *;


.recruit {
  position: relative;
  padding-bottom: rem(80);
  
  @include mq(md) {
    padding-bottom: rem(240);
  }
}


.recruit::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/common/recruit-bg.png);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1244 / 652;
  width: 100%;
  height: 100%;
  max-width: rem(1244);
  max-height: rem(652);
  z-index: -1;
}


.recruit__inner.inner {

  @include mq(md) {
    max-width: rem(970);
  }
}


.recruit__title {
  font-size: rem(18);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  
  @include mq(md) {
    font-size: rem(24);
    line-height: 1.2;
  }
}


.recruit__body {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(54);
  }
}


.recruit__text {
  font-size: rem(14);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 2.5;
  letter-spacing: 0.04em;
}


.recruit__section-header {
  margin-top: rem(60);

  @include mq(md) {
    margin-top: rem(72);
  }
}


.recruit__contents {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(52);
  }
}


.recruit__button {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(54);
  }
}