@use "global" as *;


.sp-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: rem(80);
  background-color: #223554;
  z-index: 100;
  overflow: scroll;
}


.sp-nav__inner.inner {
  max-width: rem(500);
  
  @include mq(md) {
    max-width: rem(1130);
  }
}


.sp-nav__wrapper {
  margin-top: rem(40);
}


.sp-nav__item {
  text-align: center;
  margin-top: rem(24);
}


.sp-nav__item:first-child {
  margin-top: 0;
}


.sp-nav__menu {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $Regular;
  color: $white;
  line-height: 1.0;
}