@use "global" as *;


.mv-sub {
  overflow: hidden;
  padding-top: rem(80);
  // height: 43vh;
  
  @include mq(md) {
    // height: 55vh;
    padding-top: rem(90);
  }
}


.mv-sub__wrapper {
  position: relative;
  // height: inherit;
}


.mv-sub__image {
  display: block;
  // width: 100%;
  // height: inherit;
  // aspect-ratio: 375 / 460;

  // @include mq(md) {
  //   aspect-ratio: 1360 / 438;
  // }
}


// .mv-sub__image::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   display: block;
//   background: rgba(64, 143, 149, 0.30);
// }


.mv-sub__image img {
  object-fit: cover;
  aspect-ratio: 1360 / 438;
  height: rem(300);
  
  @include mq(md) {
    height: rem(438);
  }
}


.mv-sub__body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}


.mv-sub__title {
  color: $white;
  font-size: rem(24);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  line-height: 1.2;
  letter-spacing: 0.23em;
  text-align: center;
  
  @include mq(md) {
    font-size: rem(36);
    line-height: 1.25;
  }
}


.mv-sub__sub-title {
  font-size: rem(16);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $white;
  line-height: 1.0;
  letter-spacing: 0.23em;
  text-align: center;
  
  @include mq(md) {
    font-size: rem(21);
    margin-top: rem(28);
  }
}