@use "global" as *;


.works-sub {
  padding-bottom: rem(40);

  @include mq(md) {
    padding-bottom: rem(82);
  }
}


.works-sub__header-inner.inner {

  @include mq(md) {
    max-width: rem(710);
  }
}


.works-sub__category-title {
  font-size: rem(28);
  font-family: $mincho-font-family;
  font-weight: $Bold;
  color: $black;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
  
  @include mq(md) {
    font-size: rem(36);
  }
}


.works-sub__categories {
  margin-top: rem(30);
}


.works-sub__wrapper {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(70);
  }
}


.works-sub__page-nav {
  margin-top: rem(40);;

  @include mq(md) {
    margin-top: rem(68);
  }
}